

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: sticky;
    top: 0;
    display: inline;
    z-index: 2;
}

body {
    z-index: 0;
    background-color: bisque;
}

#h1 {
    padding: 0px;
    border: 10px solid blueviolet;
    z-index: 1;
}

* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: inline-end;
    display: inline;
}

footer {
    background-color: aqua;
}





